.content {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;   
    padding: 150px;
  }
  
  body {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_1280.jpg');
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 20px; 
  }
  
  .intro {
    color: blue;
    font-weight: 1000;
  }
  
  #submit {
    border-radius: 4px;
    vertical-align: middle;
    height: 40px;
    width: 80px;
  }
  
  /* New CSS for the table */
  #results {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  thead, td {
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    background-color: white;
  }
  
  thead {
    background-color: white;
    font-weight: 700;
  }
  